<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
<style type="text/css">
  .no-fouc {display: none;}
</style>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Skidmore eSports Club | Skidmore Thoroughbred Gaming</title>
<meta name="title" content="Skidmore College eSports Club">
<meta name="description" content="Skidmore eSports organizes casual and competitive gaming opportunities for students at Skidmore College. We are Skidmore's resource for everything from casual Smash to collegiate eSports.">
<meta name="keywords" content="skidmore, college, esports">
<meta name="author" content="Jay Sobel">
<!--facebook sharing stuff-->
<meta property="og:title" content="Skidmore College eSports Club"/> 
<meta property="og:type" content="website"/> 
<meta property="og:url" content="http://skidmoreesports.club"/> 
<meta property="og:image" content="http://skidmoreesports.club/img/club_fair.jpg"/>
<!--Jquery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!--AngularJS-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
<!--Google Fonts-->
    <!--Open Sans (Headers)-->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,400italic,300' rel='stylesheet' type='text/css'>
    <!--Copy Font (Copy)-->
<link href="https://fonts.googleapis.com/css?family=Rubik:400,400i" rel="stylesheet">
<!--Font Awesome-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<!--Custom JS and CSS-->
<script src="js/controller.js"></script>
<script src="js/jay.js"></script>
<link rel="stylesheet" href="css/styles.css">
<!--Favicon-->
<link rel="icon" href="img/favicon.ico" sizes="16x16 32x32 48x48 64x64" type="image/vnd.microsoft.icon">
<link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">
<!--[if lt IE 9]>
    <script src="js/vendor/html5-3.6-respond-1.4.2.min.js"></script>
<![endif]-->
</head>
<body id="controller" class="no-fouc" data-ng-app="mainApp">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <nav>
       <i class="burger fa fa-bars"></i>
       <img src="img/STG_logo.png" alt="Skidmore Thoroughbred Gaming">
       <div class="hd-option">
            <div class="inner">
                <p>HD</p>
            </div>
        </div>
        <div class="content-width">
            <div class="nav-left cf">
                 <ul>
                     <li><a href="#leadership" title="scroll to leadership">Leadership</a></li>
                     <li><a href="#competitive" title="scroll to competitive">Competitive</a></li>
                 </ul>
            </div>
            <div class="nav-right">
                 <ul>
                     <li><a href="#club-swag" title="scroll to club swag">Club Swag</a></li>
                     <li><a href="#get-involved" title="scroll to get involved">Get Involved</a></li>
                 </ul>
            </div>
         </div>
    </nav>
    <section class="argo">
        <div class="hero">
            <h1>Connect with<br>Skidmore eSports</h1>
        </div>
    </section>
    <section class="games">
        <div class="content-width pad copy">
            <h2><span class="black-whisker">We play games</span></h2>
            <p>Video games are what we do, and we do them well. Whether you're looking for chances to compete on campus, rep Skidmore in collegiate tournaments, or just <a target="_blank" href="https://en.wikipedia.org/wiki/Long-term_potentiation">LTP</a> (learn to play) we have you covered.</p>
<!--        add alt and title for images-->
            <div class="game-grid cf">
                <div class="game-item">
                    <img class="game-img" src="img/lol_game.jpg" alt="League of Legends">
                    <div class="game-overlay"></div>
                    <img class="logo" src="img/lol_white.png" alt="League of Legends Icon">
                </div>
                <div class="game-item">
                    <img class="game-img" src="img/overwatch_game.jpg" alt="Overwatch">
                    <div class="game-overlay"></div>
                    <img class="logo" src="img/overwatch_white.png" alt="Overwatch Icon">
                </div>
                <div class="game-item">
                    <img class="game-img" src="img/dota_game.jpg" alt="DOTA 2">
                    <div class="game-overlay"></div>
                    <img class="logo" src="img/dota_white.png" alt="">
                </div>
                <div class="game-item">
                    <img class="game-img" src="img/hearthstone_game.jpg" alt="Hearthstone">
                    <div class="game-overlay"></div>
                    <img class="logo" src="img/hearthstone_white.png" alt="Hearthstone Icon">
                </div>
                <div class="game-item">
                    <img class="game-img" src="img/smash_game.jpg" alt="Super Smash Bros">
                    <div class="game-overlay"></div>
                    <img class="logo" src="img/smash_white.png" alt="Smash Bros Icon">
                </div>
                <div class="game-item">
                    <img class="game-img" src="img/csgo_game.jpg" alt="Counter Strike: Global Offensive">
                    <div class="game-overlay"></div>
                    <img class="logo" src="img/csgo_white.png" alt="Counter Strike: Global Offensive Icon">
                </div>
            </div>
        </div>
    </section>
    <!--css background-->
    <div class="rib battle">
    </div>
    <section id="leadership" class="leadership">
        <div class="content-width pad copy">
            <h2><span class="black-whisker">Leadership</span></h2>
            <p>Skidmore eSports is a student run, SGA approved club. The eBoard is structured to give representatives for popular games the support they need to lead their communities. Weekly eBoard meetings are used to delegate responsibilities, keep track of SGA funds, and plan events. Everything from casual smash nights to official jerseys starts with the eBoard. Looking for a leadership position? Get in contact.</p>
        </div>
        <div class="content-wide" data-ng-controller="controller">
             <div class="led-card" data-ng-repeat="leader in eboard">
                <div class="led-pic">
                    <img data-ng-src="{{leader.image}}" src="//:0" alt="{{leader.name}}">
                </div>
                <div class="led-detail">
                    <div class="led-title">
                        <h3>{{leader.name}}</h3>
                        <h4>{{leader.title}}</h4>
                    </div>
                    <div class="led-blox">
                        <ul>
                            <li data-ng-repeat="link in leader.links"><a target="_blank" data-ng-href="{{link.href}}" data-ng-bind-html="$sce.trustAsHtml(link.icon)" title="{{leader.name}}'s {{link.title}}"></a></li>
                        </ul>
                    </div>
                 </div>
            </div>
        </div>
    </section>
    <section id="competitive" class="competitive">
        <div class="content-width pad copy">
            <article>
                <h2><span>Representing Skidmore College</span></h2>
                <p>With just over 2,500 students, Skidmore College is a surprisingly strong contender in collegiate eSports. Each year the club organizes as many teams as needed to serve players at each skill level. Official tournament organizers like the <a target="_blank" href="https://www.cstarleague.com/" alt="Collegiate Star League">Collegiate Star League</a> and <a target="_blank" href="https://compete.tespa.org/"> Tespa</a> offer competition in some of the biggest games at the Division 1, 2 and 3 levels. Beyond the big tournaments, we leverage our friend lists to set inter-collegiate play with regional schools. As a club, we strive to organize a variety of ways for students to represent Skidmore College in collegiate eSports; for fun, bragging rights, and maybe even their resume.</p>
            </article>
        </div>
        <div class="content-wide" data-ng-controller="controller">
            <div class="content-width search">
                <h3>Find Players (2015-2016)</h3>
                <input type="text" data-ng-model="query" placeholder="search anything">
                <div class="check-container">
                    <div data-ng-repeat="games in gamesGroup">
                        <label>
                            <input class="game-toggle" type="checkbox" data-ng-model="useGames[games]"/>
                            <span class="fancy-checkbox {{games}}"></span>
                        </label>
                    </div>
                </div>
                <p class="caption">*indicates coordinators</p>
            </div>
            
            <div class="player-card cf" data-ng-repeat="player in filteredPlayers | filter:query">
                <a target="_blank" href="{{player.stats}}" title="{{player.name}} Statistics">
                    <img data-ng-src="{{player.image}}" src="" alt="{{player.name}}">
                    <i class="fa fa-user {{player.games}}"></i>
                </a>
                <div class="player-info">
                    <div class="player-title {{player.games}}">
                            <h4>{{player.name}}</h4>
                            <h5>'{{player.year}}</h5>
                    </div>
                    <div class="player-flag">
                        <img ng-src="{{player.flag}}" src="//:0" alt="{{player.name}}'s Flag">
                    </div>
                    <div class="table" role="table">
                        <div class="t-cell"><span>division</span></div>
                        <div class="t-cell"><span>position</span></div>
                        <div class="t-cell"><span>{{player.division}}</span></div>
                        <div class="t-cell"><span>{{player.position}}</span></div>
                    </div>
                </div>            
            </div>
            <div class="logo-container">
                <a target="_blank" href="http://www.cstarleague.com/lol/universities/869" title="Skidmore College League of Legends"><img src="img/lol_logo.png" alt="Leauge of Legends"></a>
                <a target="_blank" href="https://compete.tespa.org/tournament/27/myTeam" title="Skidmore College Overwatch"><img src="img/overwatch_logo.png" alt="Overwatch"></a>
            </div>
        </div>
    </section>
    <div class="divider">
<!--
        <h2><span>Powered by</span></h2>
        <img src="http://placehold.it/210x110" alt="Sponsorship">
-->
       <h2>Got spirit?</h2>
    </div>
<!--css background-->
    <div id="club-swag" class="rib swag">
    </div>
    <section class="club-swag">
        <div class="content-width pad">
            <div class="width-50 copy pad">
                <aside>
                    <h2><span>Swag (Swag)</span></h2>
                    <p>Great swag opportunities are an integral part of eSports tradition. In 2015 we worked with the equipment manager of Skidmore's athletic department to order dri-fit jerseys with the official College logo, and individualized (user)names for just $25 per player. Thanks to the design skills of club-forefather <a target="_blank" href="http://www.raphaelgalvis.com/" title="Raphael Galvis Portfolio">Raphael Galvis</a> we also have our own sweet logo (Skidmore Thoroughbred Gaming) which looks great on mousepads and laptop stickers. Get in touch if you want to get some Skid eSports items and apparel, and let us know if you have more ideas!</p>
                </aside>
            </div>
            <div class="width-50 swag-opts">
                <div class="swag-grid cf">
                    <div class="swag-item si-wide">
                        <img src="img/jersey_swag.jpg" alt="Skidmore eSports Jerseys - $25">
                        <div class="swag-overlay"></div>
                        <div class="swag-info">
                            <div><p>$25</p></div>
                        </div>
                    </div>
                    <div class="swag-item">
                        <img src="img/mousepad_swag.jpg" alt="STG Mousepads - $10">
                        <div class="swag-overlay"></div>
                        <div class="swag-info">
                            <div><p>$10</p></div>
                        </div>
                    </div>
                    <div class="swag-item">
                        <img src="img/sticker_swag.jpg" alt="STG Stickers - $2">
                        <div class="swag-overlay"></div>
                        <div class="swag-info">
                            <div><p>$2</p></div>
                        </div>
                    </div>
                </div>
                <p class="caption">*Contact us to place orders using our logo. Skidmore eSports does not profit.</p>
            </div>
        </div>
    </section>
    <section id="get-involved" class="get-involved">
        <div class="content-width pad copy">
            <div id="connection">
                <div class="block-social-links">
                    <ul>
                        <li><a target="_blank" href="https://www.facebook.com/groups/skidmoreesports/" title="Skidmore eSports Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a target="_blank" href="https://www.youtube.com/channel/UCqm-reSOgKnRnPARsDDC5zQ" title="Skidmore eSports YouTube"><i class='fa fa-youtube'></i></a></li>
                        <li><a target="_blank" href="https://twitter.com/skidmoreesports" title="Skidmore eSports Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a target="_blank" href="https://www.twitch.tv/skidesports" title="Twitch TV Livestreaming"><i class="fa fa-twitch"></i></a></li>
                    </ul>
                </div>
                <div class="copyright">
                    <p>Designed and Developed by Jay&nbsp;Sobel<br>
                    Copyright &copy; 2017 Skidmore eSports</p>
                </div>
                <img src="img/banana-100.png" alt="Head Coach: bananas for sale">
            </div>
        </div>
    </section>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68160070-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
